@use './abstractions' as *;

html,
body,
#root {
  height: 100%;
}

input[type='text'] {
  border: none;
  outline: 1px solid var(--clr-slate-700);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  font-weight: var(--fw-bold);
  font-size: var(--fs-L);
}

input[type='text']:focus {
  outline: 2px solid var(--clr-lime);
}

input[type='text']:active {
  outline: 2px solid var(--clr-lime);
}

input[type='text'].error {
  outline: 2px solid var(--clr-red);
}

input[type='radio'] {
  margin: 0;
  appearance: none;
  flex-grow: 0;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid var(--clr-slate-700);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

input[type='radio']:checked {
  margin: 0;
  appearance: none;
  flex-grow: 0;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid var(--clr-lime);
  border-radius: 50%;
  position: relative;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  inset: 3px;
  border-radius: 50%;
  background-color: var(--clr-lime);
}

:root {
  --clr-lime: hsl(61, 70%, 52%);
  --clr-lime-opq: hsla(61, 70%, 52%, 0.1);
  --clr-red: hsl(4, 69%, 50%);
  --clr-slate-100: hsl(202, 86%, 94%);
  --clr-slate-300: hsl(203, 41%, 72%);
  --clr-slate-500: hsl(200, 26%, 54%);
  --clr-slate-700: hsl(200, 24%, 40%);
  --clr-slate-900: hsl(202, 55%, 16%);

  --ff-base: 'Plus Jakarta Sans', sans;

  --fw-normal: 500;
  --fw-bold: 700;

  --fs-XXL: calc(56rem / 16);
  --fs-XL: calc(24rem / 16);
  --fs-L: calc(18rem / 16);
  --fs-M: 1rem;
  --fs-S: calc(14rem / 16);

  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

@media (max-width: $breakpoint-small) {
  :root {
    --fs-XXL: calc(40rem / 16);
  }
}

// text classes
.font-normal {
  font-weight: var(--fw-normal);
}

.font-bold {
  font-weight: var(--fw-bold);
}

.text-S {
  font-size: var(--fs-S);
}

.text-M {
  font-size: var(--fs-M);
}

.text-L {
  font-size: var(--fs-L);
}

.text-XL {
  font-size: var(--fs-XL);
}

.text-XXL {
  font-size: var(--fs-XXL);
}

.text-white {
  color: white;
}

.text-dark-slate {
  color: var(--clr-slate-900);
}

.text-medium-slate {
  color: var(--clr-slate-700);
}

.text-light-slate {
  color: var(--clr-slate-300);
}

.text-red {
  color: var(--clr-red);
}

.text-lime {
  color: var(--clr-lime);
}

.text-center {
  text-align: center;
}

// utility
.label-basic {
  font-size: var(--fs-M);
  color: var(--clr-slate-700);
}

.label-stressed {
  font-size: var(--fs-L);
  color: var(--clr-slate-900);
  font-weight: bold;
}

.bordered {
  border-radius: var(--border-size, 4px);
}

.hidden {
  display: none;
}
